<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    
      <class name="Project1.TC01_Verifyloignclass"/>
            <class name="Project1.TC02_VerifySearchprt"/>
            
            <class name="Project1.TC03_Verifyimg"/>            
            <class name="Project1.TC04VerifyAddtocartbtn"/>
            
             <class name="Project1.TC05VerifyCheckout"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
